{%- if RUN_LMS and POD_AUTOSCALING_LMS_AUTOSCALING %}
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: lms-hpa
  labels:
    app.kubernetes.io/name: lms-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: lms
  minReplicas: {{ POD_AUTOSCALING_LMS_MIN_REPLICAS }}
  maxReplicas: {{ POD_AUTOSCALING_LMS_MAX_REPLICAS }}
  metrics:
  {%- if POD_AUTOSCALING_LMS_AVG_CPU > 0 %}
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: {{ POD_AUTOSCALING_LMS_AVG_CPU }}
  {%- endif %}
  {%- if POD_AUTOSCALING_LMS_AVG_MEMORY|length %}
  - type: Resource
    resource:
      name: memory
      target:
        type: AverageValue
        averageValue: {{ POD_AUTOSCALING_LMS_AVG_MEMORY }}
  {%- endif %}
{%- endif %}
{%- if RUN_LMS and POD_AUTOSCALING_LMS_WORKER_AUTOSCALING %}
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: lms-worker-hpa
  labels:
    app.kubernetes.io/name: lms-worker-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: lms-worker
  minReplicas: {{ POD_AUTOSCALING_LMS_WORKER_MIN_REPLICAS }}
  maxReplicas: {{ POD_AUTOSCALING_LMS_WORKER_MAX_REPLICAS }}
  metrics:
  {%- if POD_AUTOSCALING_LMS_WORKER_AVG_CPU > 0 %}
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: {{ POD_AUTOSCALING_LMS_WORKER_AVG_CPU }}
  {%- endif %}
  {%- if POD_AUTOSCALING_LMS_WORKER_AVG_MEMORY|length %}
  - type: Resource
    resource:
      name: memory
      target:
        type: AverageValue
        averageValue: {{ POD_AUTOSCALING_LMS_WORKER_AVG_MEMORY }}
  {%- endif %}
{%- endif %}
{%- if RUN_CMS and POD_AUTOSCALING_CMS_AUTOSCALING %}
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: cms-hpa
  labels:
    app.kubernetes.io/name: cms-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: cms
  minReplicas: {{ POD_AUTOSCALING_CMS_MIN_REPLICAS }}
  maxReplicas: {{ POD_AUTOSCALING_CMS_MAX_REPLICAS }}
  metrics:
  {%- if POD_AUTOSCALING_CMS_AVG_CPU > 0 %}
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: {{ POD_AUTOSCALING_CMS_AVG_CPU }}
  {%- endif %}
  {%- if POD_AUTOSCALING_CMS_AVG_MEMORY|length %}
  - type: Resource
    resource:
      name: memory
      target:
        type: AverageValue
        averageValue: {{ POD_AUTOSCALING_CMS_AVG_MEMORY }}
  {%- endif %}
{%- endif %}
{%- if RUN_CMS and POD_AUTOSCALING_CMS_WORKER_AUTOSCALING %}
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: cms-worker-hpa
  labels:
    app.kubernetes.io/name: cms-worker-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: cms-worker
  minReplicas: {{ POD_AUTOSCALING_CMS_WORKER_MIN_REPLICAS }}
  maxReplicas: {{ POD_AUTOSCALING_CMS_WORKER_MAX_REPLICAS }}
  metrics:
  {%- if POD_AUTOSCALING_CMS_WORKER_AVG_CPU > 0 %}
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: {{ POD_AUTOSCALING_CMS_WORKER_AVG_CPU }}
  {%- endif %}
  {%- if POD_AUTOSCALING_CMS_WORKER_AVG_MEMORY|length %}
  - type: Resource
    resource:
      name: memory
      target:
        type: AverageValue
        averageValue: {{ POD_AUTOSCALING_CMS_WORKER_AVG_MEMORY }}
  {%- endif %}
{%- endif %}
